@media (min-width: 500px) {
    nav button{
        display: none;
    }
    nav li{
        display: block;
        font-size: 1em;
    }
    nav ul{
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    nav ul li{
        display: inline-block;
        
    }
    nav a{
        padding: 1rem;
    }
    .maincontent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #calltoaction{
        grid-column: 2;
    }
    #currentEvents{
        grid-column: 1;
    }
    .weather{
        grid-column: 2;
    }
    .spotlights{
        grid-column: 3;
    }
}