@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

	header h1{
		font-size: 4em;
	}
	main{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10% 90%;
		grid-gap: 20px;
	}
	main h2{
		grid-row: 1;
		text-align: left;
		font-size: 2em;
		grid-column: 1/3;
	}
	.card1, .card2 {
		margin-bottom: 20px;
		box-shadow: 5px 5px 10px grey,
		-5px -5px 10px grey;

	}
	.card1{
		grid-column: 1/3;
		grid-row: 2;
	}
	.card1 ul{
		list-style-type: none;
		font-size: 1.5em;
		padding: 10px;
		color: 	#5A5A5A;
	}
	li a{
		font-size: .8em;
	}
	.card2{
		grid-column: 3;
		grid-row: 2;
	}
	footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 12%;

	}

}